body {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #fffff0;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

select {
  height: 2rem;
}

input {
  height: 1.25rem;
}

button {
  margin: 2rem;
  background-color: #7fffd4;
  color: darkcyan;
  font-weight: bold;
  border: none;
  padding: 0.8rem;
}

button:hover {
  margin: 2rem;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.8rem;
}
